body {
  background-color: rgb(188, 149, 20);
  color: white;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
}

li {
  display: inline;
  font-weight: bolder;
  padding: 5px;
}
